{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0 custom-height" src="{% static 'images/libr.png' %}"
            alt="Library Image" />
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Welcome to Our Book Store!</h1>
        <p>Discover a world of literature at Chapter One - where stories come to life.</p>
        <a class="btn btn-outline-dark" href="{% url 'store' %}">Shop Now</a>
    </div>
</div>

<br>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100" style="background-color: #9E775A;">
            <div class="card-body d-flex align-items-center justify-content-center">
                <h2 class="card-title text-white">Free Shipping</h2>
                <img class="iconhome" height="100px" width="100px" src="{% static 'images/deliveryicon.png' %}">
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100" style="background-color: #9E775A;">
            <div class="card-body d-flex align-items-center justify-content-center">
                <h2 class="card-title text-white">Secure Payment</h2>
                <img class="iconhome" height="100px" width="100px" src="{% static 'images/returnicon.png' %}">
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100" style="background-color: #9E775A;">
            <div class="card-body d-flex align-items-center justify-content-center">
                <h2 class="card-title text-white">Easy Returns</h2>
                <img class="iconhome" height="100px" width="100px" src="{% static 'images/dis.icon.png' %}">
            </div>
        </div>
    </div>
</div>

{% endblock %}